* {
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
  }  
  .container {
    text-align: center;
    padding: 15px;
    margin: 10px auto;
  }  
  .container p {
    padding-top: 10px;
    color: #666;
  }
  .customPaper{
    padding-top: 10px;
    padding-bottom: 10px;
    width:90%;
    margin:50px auto;        
  }
  .tableHeaderRow{
    font-size:30px;
  }
  .dataGrid{
    padding: 25px;
  }
  .autosuggest{
    margin-top: 25px !important;    
  }
  .thumbImg{
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    height: 80px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: inherit;
  }
  .gridThumbContaier{
    display: flex;
    justify-content: start;
  }